@model WebsiteBanHang.CSDL.PhanHoi

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <br />
    <div>
        <h4>PhanHoi</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NgayGui)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NgayGui)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ChuDe)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ChuDe)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NoiDung)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NoiDung)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.KhachHang.TaiKhoan)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.KhachHang.TaiKhoan)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.MaPH }) |
        @Html.ActionLink("Back to List", "Index")
    </p>


</div>